<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Not Found</title>
  </head>
  <body>
    <h1>404 Not Found</h1>
    <p>
      Ups! Sepertinya Anda mengikuti tautan yang buruk. Jika menurut Anda ini
      adalah masalah kami, beri tahu kami.
    </p>
    <a
      href="{{ url_for('index') }}"
      class="px-4 mt-10 py-3 border border-[#5842BE] font-semibold text-center text-[#5842BE] rounded-lg hover:bg-[#5842BE] hover:border-none hover:text-white"
    >
      Kembali Ke Beranda
    </a>
  </body>
</html>
